/* Yahoo! CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	  margin: 0;
	  padding: 0;
}
body {
	  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
	  font-size: 14px;
	  line-height: 1.42857143;
}

table {
	  border-collapse: collapse;
	  border-spacing: 0;
}

fieldset, img {
	  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	  font-style: normal;
	  font-weight: normal;
}

ol, ul {
	  list-style: none;
}

caption, th {
	  text-align: left;
}



q:before, q:after {
	  content: '';
}
*, :after, :before {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}
abbr, acronym {
	  border: 0;
}

/* End of Yahoo! CSS Reset */

a {
	  text-decoration: none;
}

a:hover {
	  text-decoration: underline;
}

html {
	  height: 100%;
}

body {
	  width: 100%;
}

.noselect {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

.hidden {
	  display: none;
}

.wrapper {
	  position: relative;
	  .header {
			position: relative;
			background-image: url(images/image.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: 100vh;
			overflow: hidden;
			.black {
				  background: rgba(46, 64, 121, 0.8);
				  overflow: hidden;
				  height: 100%;
				  position: absolute;
				  width: 100%;
				  top: 0;
				  z-index: 1;
			}
			.box {
				  top: 0;
				  width: 700px;
				  position: relative;
				  z-index: 9;
				  text-align: center;
				  display: flex;
				  flex-direction: column;
				  justify-content: center;
				  height: 100%;
				  margin: 0 auto;
				  .logo {
						img {
							  width: 188px;
						}
				  }
				  .divider {
						height: 1px;
						background: #F7F0A2;
						width: 135px;
						margin: 30px auto;
				  }
				  .title {
						color: white;
				  }
			}
	  }
}

.form-horizontal {
	  margin: 100px auto 200px;
	  width: 360px;
	  h2 {
			font-size: 23px;
			margin-bottom: 25px;
	  }
	  .input-group {
			position: relative;
			display: table;
			border-collapse: separate;
			margin-bottom: 28px;
			.input-group-addon {
				  display: table-cell;
				  padding: 6px 12px;
				  font-size: 14px;
				  font-weight: 400;
				  line-height: 1;
				  text-align: center;
				  border-radius: 4px;
				  color: #fff;
				  border: 0;
				  background-color: #7890ad;
				  width: 1%;
				  white-space: nowrap;
				  vertical-align: middle;
				  border-top-right-radius: 0;
				  border-bottom-right-radius: 0;
			}
	  }

	  .control-label {
			color: white;
	  }
	  .fa-building-o {
			width: 16px;
	  }
	  .controls input {
			height: 27px;
	  }
	  .wrap_kurs {
			display: flex;
			justify-content: space-around;
	  }
}

.msg-warn {
	  color: red;
	  text-align: center;
	  margin-top: 20px;
}

.avatar {
	  width: 200px;
	  position: absolute;
	  z-index: 99999;
	  bottom: 40px;
	  left: 50%;
	  margin-left: -100px;

}



.btn {
	  display: inline-block;
	  padding: 6px 12px;
	  margin-bottom: 0;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 1.42857143;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-image: none;
	  border-radius: 4px;

	  border: 1px solid;
	  color: #434a54;
	  border-color: #aab2bd!important;
	  background-color: #fff;

	  &.active,
	  &:active,
	  &:focus,
	  &:hover {
			background-color: #ccd1d9;
			border-color: #ccd1d9;
	  }
}
